%{ This is a default template }%%TMPL:INCLUDE{"edit"}%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"%CUSTOMPAGETITLE%"}%%TMPL:END%
%TMPL:DEF{"webaction"}%%MAKETEXT{"%ACTIONTITLE%"}%%TMPL:END%
%TMPL:DEF{"pagetitle"}%<nop>%TOPIC% %MAKETEXT{"%CUSTOMPAGETITLE%"}%%TMPL:END%

%{ if an editor plugin sets EDITOR_MESSAGE, then use it }%
%TMPL:DEF{"textarea"}%%IF{"defined 'EDITOR_MESSAGE'" then="<div class='twikiAlert'>%EDITOR_MESSAGE%</div>"}%<div class="twikiEditTextarea"><textarea class="twikiTextarea twikiEditboxStyleProportional" id="topic" name="text" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style='%EDITBOXSTYLE%'>%TEXT%</textarea></div><!--/twikiEditTextarea-->%TMPL:END%

%TMPL:DEF{"formstart"}%<div class="twikiFormHolder twistyMakeHidden" id="formHolder">
<form name="main" action="%SCRIPTURLPATH{"rest"}%/%PLUGIN%/%RESTHANDLERNAME%" method="post">%TMPL:END%


%TMPL:DEF{"formparameters:editdbfield"}%<input type="hidden" name="dbfieldname" value="%DBFIELDNAME%" />
<input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
%TMPL:END%
%TMPL:DEF{"formparameters"}%%TMPL:P{"formparameters:edit"}%%TMPL:P{"formparameters:editdbfield"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" name="action_cancel" value="Cancel" id="cancel" />%TMPL:P{"sep"}%<input type="submit" class="foswikiSubmit" name="action_save" value="Save" id="save" />%TMPL:END%